@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Maven+Pro:wght@400..900&family=Qwigley&display=swap');
@import 'tailwindcss';
/* @import 'tw-animate-css'; */

@custom-variant dark (&:is(.dark *));
:root {
    --background: oklch(0.9842 0.0034 180.5);
    --foreground: oklch(0.2795 0.0368 195.5);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2795 0.0368 195.5);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2795 0.0368 195.5);
    --primary: oklch(0.5543 0.1568 175.8);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9276 0.0058 180.5);
    --secondary-foreground: oklch(0.3729 0.0306 185.5);
    --muted: oklch(0.967 0.0029 180.5);
    --muted-foreground: oklch(0.551 0.0234 185.5);
    --accent: oklch(0.9299 0.0334 165.5);
    --accent-foreground: oklch(0.3729 0.0306 185.5);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.8717 0.0093 180.5);
    --input: oklch(0.8717 0.0093 180.5);
    --ring: oklch(0.5854 0.2041 175.8);
    --chart-1: oklch(0.5854 0.2041 175.8);
    --chart-2: oklch(0.5106 0.2301 172.5);
    --chart-3: oklch(0.4568 0.2146 168.5);
    --chart-4: oklch(0.3984 0.1773 165.5);
    --chart-5: oklch(0.3588 0.1354 162.5);
    --sidebar: oklch(0.967 0.0029 180.5);
    --sidebar-foreground: oklch(0.2795 0.0368 195.5);
    --sidebar-primary: oklch(0.5854 0.2041 175.8);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9299 0.0334 165.5);
    --sidebar-accent-foreground: oklch(0.3729 0.0306 185.5);
    --sidebar-border: oklch(0.8717 0.0093 180.5);
    --sidebar-ring: oklch(0.5854 0.2041 175.8);
    --font-sans: 'Maven Pro', sans-serif;
    --font-serif: 'Source Serif 4', serif;
    --font-mono: 'JetBrains Mono', monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 8px;
    --shadow-spread: -1px;
    --shadow-opacity: 0.1;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(27.9% 0.041 195.5);
    --foreground: oklch(0.9288 0.0126 180.5);
    --card: oklch(0.2795 0.0368 195.5);
    --card-foreground: oklch(0.9288 0.0126 180.5);
    --popover: oklch(0.2795 0.0368 195.5);
    --popover-foreground: oklch(0.9288 0.0126 180.5);
    --primary: oklch(0.5569 0.1389 175.8);
    --primary-foreground: oklch(0.2077 0.0398 195.5);
    --secondary: oklch(0.3351 0.0331 190.5);
    --secondary-foreground: oklch(0.8717 0.0093 180.5);
    --muted: oklch(0.2427 0.0381 190.5);
    --muted-foreground: oklch(0.7137 0.0192 185.5);
    --accent: oklch(0.3729 0.0306 185.5);
    --accent-foreground: oklch(0.8717 0.0093 180.5);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(0.2077 0.0398 195.5);
    --border: oklch(0.4461 0.0263 185.5);
    --input: oklch(0.4461 0.0263 185.5);
    --ring: oklch(0.6801 0.1583 175.8);
    --chart-1: oklch(0.6801 0.1583 175.8);
    --chart-2: oklch(0.5854 0.2041 172.5);
    --chart-3: oklch(0.5106 0.2301 168.5);
    --chart-4: oklch(0.4568 0.2146 165.5);
    --chart-5: oklch(0.3984 0.1773 162.5);
    --sidebar: oklch(0.2795 0.0368 195.5);
    --sidebar-foreground: oklch(0.9288 0.0126 180.5);
    --sidebar-primary: oklch(0.6801 0.1583 175.8);
    --sidebar-primary-foreground: oklch(0.2077 0.0398 195.5);
    --sidebar-accent: oklch(0.3729 0.0306 185.5);
    --sidebar-accent-foreground: oklch(0.8717 0.0093 180.5);
    --sidebar-border: oklch(0.4461 0.0263 185.5);
    --sidebar-ring: oklch(0.6801 0.1583 175.8);
    --font-sans: 'Maven Pro', sans-serif;
    --font-serif: 'Source Serif 4', serif;
    --font-mono: 'JetBrains Mono', monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 8px;
    --shadow-spread: -1px;
    --shadow-opacity: 0.1;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
